.header-title{
   
    color: white;
    margin-top: 0px;
   
    text-align: center;
}

.header-tagline{
    
    margin-top: -20px;
    text-align: center;
    margin-left: 310px;
    color: white;
}

.header-css{
    height: 50px;
    background-color: #A0522D
}